.logo {
    width: 75%;
}

.logo-img {
    width: 100%;
}

.logolu-icerik {
    min-width: 100%;
}

.about {
    padding: 1rem;
}

.minik2-hamburger {
    display: none !important;
}

.musteri-yorumu {
    width: 100%;
}

.big-text {
    font-size: 3.5rem;
}

.mid-text {
    font-size: 2.25rem;
}

.text-word-break {
    word-break: break-word;
}