.logo-img {
    width: 200px;
}

.logolu-icerik {
    min-width: 100%;
}

.about {
    padding: 1rem;
}

.minik2-hamburger {
    display: none !important;
}

.musteri-yorumu {
    width: 100%;
}

.big-text {
    font-size: 4rem;
}

.text-word-break {
    word-break: break-word;
}

.musteri-text-shadow {
    font-size: 1.5rem;
    right: 0;
    left: 0;
}

.div-1 {
    height: calc(500px - 68.5px);
}

.menu {
    top: 67.7px;
}