.siparis,
.container-absolute2-yazilar {
    display: none;
}

.div-1-text {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: calc((100vh - 66px));
}

.resimli-icerik {
    display: flex;
    width: 75%;
}

.images-icerik {
    width: 75%;
}

footer {
    text-align: center;
}

.restorant {
    width: 100%;
}

.container-absolute6 {
    right: 0;
}
/* 
.el-hamburger {
    width: 75%;
}

.cheese-burger {
    width: 75%;
} */